/*General Styling*/

body {
    background-color: Bisque;
    font-family: "Courier New", monospace;
    font-size: 20px;

    /*gets rid of default margin!*/
    margin: 0;
}


div.navBar {
    background-color: tan;
    font-size: 30px;
    opacity: 0.6;
    justify-content: center;

    /*    display: flex;
    justify-content: left;*/
    /*    nav bar border*/
    /*    border-radius: 5px;
    border-color: #bd8f79;
    border-style: solid;
    border-width: 5px;*/

    /*space around text*/
    padding-top: 20px;
    padding-bottom: 20px;

}

/*readding default margin*/
.spacing {
    margin: 20px;
}

.image-spacing{
    margin-top: 100px;
}

.box {
    background-color: rgba(255, 255, 255, 0.7); /* semi transparent colored border for aesthetic */
    padding: 10px;
    border-radius: 8px; /* rounded borders */
    display: inline-block; /* box adjusts with text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* adds a shadowy effect ***REMINDER*** add to all other inserted images for noir theme */
}

.image-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

.container{
    display: flex; /* Adding flex property for sizing */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pdf-embed {
    width: 80%;
    height: 80%;
}

.p {
}

/*header formating
 * sample style*/
h1 {
    color: #854c1d;
    text-align: center;
    text-shadow: 3px 3.5px 4px #9c5821;
}

h2 {

    margin: 20px;
    color: #854c1d;
}




.header {

}

.imgFormat {
}

/*make buttons fade*/
.btnFade {
background-color: #913d04;
  margin: 0;
  color: white;
  padding: 16px 32px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.btnFade:hover {background-color: tan;}


.footer {
    background-color: tan;
    opacity: 0.6;

    /*space around text*/
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;

}