/*General Styling*/

/*core colors
#fff8f0; soft white
#383b33; dark/grey black
#e05d4f; red
#6d95b5; blue*/

body {
    background-color: #fff8f0; /*soft white*/
    font-family: "Courier New", monospace;
    font-size: 20px;
    color: #383b33; /*dark/grey black*/
    /*gets rid of default margin!*/
    margin: 0;
}


div.navBar {
    background-color: #e05d4f; /*red*/
    font-size: 30px;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

/*readding default margin*/
.spacing {
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;


}

.image-spacing {
    margin-top: 100px;
}

.box {
    background-color: rgba(255, 255, 255, 0.7); /* semi transparent colored border for aesthetic */
    padding: 10px;
    border-radius: 8px; /* rounded borders */
    display: inline-block; /* box adjusts with text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* adds a shadowy effect ***REMINDER*** add to all other inserted images for noir theme */
}

.image-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

.container {
    display: flex; /* Adding flex property for sizing */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

bgImg {
    background-size: cover;
}

.pdf-embed {
    width: 80%;
    height: 80%;
}

.p {
}

/*header formating
 * sample style*/
h1 {
    text-align: center;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 5.5px 1.5px #e05d4f; /*red*/
    font-size: 60px;

}


/*adds border around h2s*/
h2 {
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid;
    border-radius: 12px;
    display: inline;
    padding: 8px;
    background-color: #fff8f0; /*soft white*/
    ;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 7px 5px 1px #e05d4f; /*red*/
}

/*adds a border around p elements*/
.textBorder {
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid;
    border-radius: 12px;
    padding: 8px;
    background-color: #fff8f0; /*soft white*/
    ;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 8px 5px 1px #e05d4f; /*red*/
    border-color: #854c1d;
}



.header {

}

.imgFormat {
}

/*make buttons change on hover*/
.btnFade {
    background-color: #913d04;
    margin: 0;
    color: white;
    padding: 16px 32px;
    text-align: center;
    /*  opacity: 0.6;
  transition: 0.3s;*/
}

.btnFade:hover {
    background-color: #fff8f0; /*soft white*/
    color: #383b33; /*dark/grey black*/
}



.footer {
    background-color: #e05d4f; /*red*/
    color: white;
    font-weight: bold;
    /*space around text*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

}


/*XSL/Reading View styling*/


table {
    margin: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border: solid;
    border-radius: 12px;
    padding: 8px;
    background-color: #fff8f0; /*soft white*/
    ; /* offset-x | offset-y | blur-radius | color */
    box-shadow: 7px 5px 1px #e05d4f; /*red*/
    border-color: #854c1d;
    justify-content: center;
    display: flex;
}


th {
    margin-right: 70px;
    border: solid;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff8f0; /*soft white*/
    ;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 7px 5px 1px #e05d4f; /*red*/
}


div.camera {
    margin: 20px;
    border: solid;
    border-radius: 12px;
    padding: 8px;
    background-color: #e3b381;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 10px 5px 5px brown;
    border-color: #cf7940;
}

span.diag {
    color: red;
}
/* XSL: Versioning styling */
div.intro {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: .9em;
    color: #3f0000;
}
div.flex {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

div.everybody-play {
    background-color: silver;
    padding: 2em;
    flex: 1;
}
div.alt-77 {
    background-color: Bisque;
    padding: 2em;
    flex: 1;
}
div.screenplay {
    background-color: #ffda90;
    padding: 2em;
    flex: 1;
}
div.united {
    background-color: Bisque;
    padding: 4em;
    flex: 2;
}
/* make bordered h2s smaller on this page */
div.intro div h2 {
    font-size: 1.2em;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 10px 5px 5px tan;

}

p {
    margin: 1em;
}

span.dir {
    font-style: italic;
    padding-right: 1em;
}
